.inputContainer {
  margin: 20px 0px;
}

.textContainer {
  margin-top: 10px;
  font-weight: 350;
  font-size: 15px;
  color: #0000007a;
}

.passwordContainer {
  margin: 20px 0px;
}

.submitButton {
  width: 100%;
  margin: 10px auto;
}
