.container {
  margin: 100px auto;
  border: 2px solid rgb(110, 107, 107);
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  width: 400px;
  height: 400px;
  padding: 30px 20px;
}
